# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AafOG1MQQC8WrSPDbVCpV_UimilwBWw0B0EpbG3omx7rRj-ygkm-K99AeslaoIMmKTVv9-iMuTEBuNoA
PAYPAL_CLIENT_SECRET=EMHUB31JhXvlAdebIYrA8ISUK5VGZBNfcTuy38GtoWxSvSHQIv0kh25bXqj_dgUFm4NXAYE-pnxFq0an
